.administration {
  position: relative;
  height: 100%;
}

.administration__title {
  position: absolute;
  height: 30px;
  visibility: hidden;
  user-select: none;
}

.page__admin-button-open-menu {
  position: absolute;
  width: calc(var(--pixel)*25);
  height: calc(var(--pixel)*25);
  top: calc(var(--pixel)* 10);
  left: calc(var(--pixel)* 0);
  rotate: 90deg;
  cursor: pointer;
}

.page__admin-button-open-menu--cliked {
  rotate: 270deg;
}

.page__admin-menu {
  display: none;
  position: absolute;
  top: calc(var(--pixel) * 5);
}

.page__admin-menu--open {
  display: block;
}

.page__menu-list {
  z-index: 9;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page__menu-element {}

.page__element-button {
  width: calc(var(--pixel) * 100);
  height: calc(var(--pixel) * 35);
  cursor: pointer;
}

.employees-company {
  width: calc(var(--pixel) * 1024);
}

.employees-company__employees-title {
  margin: calc(var(--pixel) * 20) 0 calc(var(--pixel) * 20) calc(var(--pixel) * 0);
}

.employees-company__wrapper-content {
  display: inline;
}

.employees-company__navigation-between-tables {
}

.employees-company__navigation-list-tables {
  display: flex;
  padding: 0;
  list-style-type: none;
}
.employees-company__navigation-table {
  margin-left: 5px;
  padding: 10px;
  border: calc(var(--pixel) * 1) solid black;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  &:hover {
    transition: .3s;
    background-color: rgb(101, 105, 105);
  }
}

.employees-company__work-with-content {
  display: flex;
}

.employees-company__work-with-content-list {
  display: contents;
  list-style: none;
}

.employees-company__work-with-content>.employees-company__navigation-list {
  position: inherit;
}

.employees-company__work-with-content-element {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(var(--pixel) * 125);
  height: calc(var(--pixel) * 40);
  margin: 0;
  padding: 5px;
  border: 1px solid black;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  &:hover {
    transition: .3s;
    background-color: rgb(101, 105, 105);
  }
  &:nth-last-of-type(1) {
    border: none;
    cursor: auto;
  }
}

.employees-company__work-with-content-button {
  width: calc(var(--pixel) * 125);
  height: calc(var(--pixel) * 40);
}

.employees-company__work-with-content-input-search {
  font-size: initial;
  width: 130px;
  height: 30px;
  margin: 5px;
  border: none;
}

.employees-company__tables-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(var(--pixel) * 1024);
  margin-top: 10px;
  text-align: center;
  user-select: none;
}

.employees-company__folder {
  display: table;
  max-height: 700px;
  border: calc(var(--pixel) * 1) solid black;
  border-collapse: collapse;

  th {
    height: 30px;
    padding: 5px;
    border: calc(var(--pixel) * 1) solid black;
  }

  &>tbody {
    font-size: x-large;
    display: block;
    height: 500px;
    overflow-y: scroll;
  }

  &>tbody>tr {
    display: grid;
  }

  &>tbody>tr>td {
    height: 40px;
    cursor: pointer;

    &:hover {
      background-color: cadetblue;
    }
  }

  &>thead {
    font-size: larger;
    background-color: rgb(101, 105, 105);
  }

}

.employees-company__users {
  border: calc(var(--pixel) * 1) solid black;
  border-collapse: collapse;

  th {
    height: 33px;
    padding: 5px;
  }

  &>tbody {
    font-size: x-large;
    display: block;
    width: 100%;
    height: 500px;
    border: calc(var(--pixel) * 1) solid black;
    overflow-y: scroll;
  }

  &>tbody>tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &>tbody>tr>td {
    height: 40px;
    cursor: pointer;

    &:hover {
      background-color: cadetblue;
    }
  }

  &>thead {
    font-size: larger;
    background-color: rgb(101, 105, 105);
  }

  &>thead>tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.group-access {
}
.group-access__title {
}
.group-access__content-wrapper {
}
.group-access__navifation {
}
.group-access__navigation-list {
}
.group-access__navigation-element {
}
.group-access__navigation-button {
}
.group-access__table {
}
.file-storage {
}
.file-storage__title {
}
.file-storage__form-content {
}
.file-storage__navigation {
}
.file-storage__navigation-list {
}
.file-storage__navigation-element {
}
.file-storage__navigation-button {
}
.file-storage__input {
}
.protocols {
}
.protocols__title {
}
.protocols__navigations {
}
.protocols__navigations-list {
}
.protocols__navigations-element {
}
.protocols__navigations-button {
}
.archived-protocols {
}
.archived-protocols__navigations {
}
.archived-protocols__navigations-list {
}
.archived-protocols__navigations-element {
}
.archived-protocols__navigations-button {
}
.archived-protocols__navigations-input {
}
.archived-protocols__table {
}
.protocols-action {
}
.protocols-action__navigations {
}
.protocols-action__navigations-list {
}
.protocols-action__navigations-element {
}
.protocols-action__navigations-button {
}
.protocols-action__navigations-input {
}
.protocols__sittings {
}
.protocols__sittings-form {
}
.protocols__content-container {
}
.protocols__title-sittings {
}
.protocols__sittings-list {
}
.protocols_sittings-element {
}
.protocols__checkbox {
}
.protocols__sittings-text {
}