.archive__create-new-folder {
  font-size: larger;
  position: absolute;
  display: flex;
  padding: 5px;
  top: 10%;
  background: #d2691edb;
}
.archive__create-new-folder-preview {
  font-size: 20px;
  padding: 10px;
}
.archive__create-new-folder-of-form {
  position: relative;
}
.archive__create-new-folder-of-input {
}
.archive__create-new-folder-of-button-create {
}
.archive__create-new-folder-of-button-out {
  position: absolute;
  top: 5px;
  right: 5px;
}

