// БЛОК СТИЛЕЙ ДЛЯ FILE //
.archive__file {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.archive__file-menu {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: calc(var(--pixel) * 1000);
  width: calc(var(--pixel) * 600);
  padding: calc(var(--pixel) * 15) 0;
  margin-left: calc(var(--pixel) * 350);

  &:hover {
    .archive__file-menu-under-line {
      animation: animate_row-in 0.2s ease-in;
      animation-fill-mode: forwards;
    }
  }

  &:not(:hover) {
    .archive__file-menu-under-line {
      animation: animate_row-out 0.2s ease;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes animate_row-in {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes animate_row-out {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.archive__file-menu-under-line {
  position: absolute;
  width: 0;
  height: calc(var(--pixel) * 1);
  bottom: calc(var(--pixel) * 10);
  background-color: #000000;
}

.archive__file-button {
  width: calc(var(--pixel) * 50);
  height: calc(var(--pixel) * 50);
  padding: 0 calc(var(--pixel) * 10);
  cursor: pointer;
}