.archive__create-new-folder {
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  position: absolute;
  width: 100%;
  display: flex;
  padding: 5px;
  top: 15%;
  background: #d2691edb;
}
.archive__create-new-folder-preview {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.archive__create-new-folder-of-form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 45px;
}
.archive__create-new-folder-of-input {
}
.archive__create-new-folder-of-button-create {
  cursor: pointer;
}
.archive__create-new-folder-of-button-out {
  position: absolute;
  top: 5px;
  right: 5px;

  &:hover {
    transition: 0.3s;
    rotate: 360deg;
    cursor: pointer;
  }
}

