// archive table file ///
.scroll-table {
  width: calc(var(--pixel) * 1220);
  border: 1px solid black;
}

.scroll-table-body {
  height: calc(var(--pixel) * 550);
  width: 100.45%;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-top: calc(var(--pixel) * 0);
  border-bottom: calc(var(--pixel) * 1) solid #000000;
}

.scroll-table-body table tbody tr td {
  min-height: calc(var(--pixel) * 50);
  height: calc(var(--pixel) * 100);

  &:nth-child(1) {
    width: calc(var(--pixel) * 54.5);
    border: none !important;
    background: transparent;
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(7) {
    width: calc(var(--pixel) * 100);
  }

  &:nth-child(5),
  &:nth-child(6) {
    width: calc(var(--pixel) * 250);
  }

  &:nth-child(8) {
    width: calc(var(--pixel) * 150);
  }
}

.scroll-table-body__input-of-check-box {
  width: calc(var(--pixel) * 20);
  height: calc(var(--pixel) * 20);
}

.scroll-table table {
  width: 100%;
  height: calc(var(--pixel) * 100);
  table-layout: fixed;
  border-collapse: collapse;
}

.scroll-table thead tr th {
  font-size: calc(var(--pixel) * 14);
  font-weight: calc(var(--pixel) * 700);
  text-align: center;
  background: #222222;
  border: calc(var(--pixel) * 1) solid black;
  border-top: none;
  border-left: calc(var(--pixel) * 1) solid #000000;

  &:nth-child(1) {
    width: calc(var(--pixel) * 54);
    border: none !important;
    background: #222222;
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(7) {
    width: calc(var(--pixel) * 100);
  }

  &:nth-child(5),
  &:nth-child(6) {
    width: calc(var(--pixel) * 250);
  }

  &:nth-child(8) {
    width: calc(var(--pixel) * 150);
  }
}

.scroll-table tbody td {
  font-size: calc(var(--pixel) * 14);
  text-align: center;
  border-left: calc(var(--pixel) * 1) solid #000000;
  border-right: calc(var(--pixel) * 1) solid #000000;
  background: #1f1f1f3a;
}

.scroll-table-body table tbody tr {
  transition: .3s;
  &:hover {
    background: #326460;
    transition: .3s;
    cursor: pointer;
  }
}

.scroll-table tbody tr:nth-child(even) {
  background: #303030;
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: calc(var(--pixel) * 6);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 calc(var(--pixel) * 6) rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 calc(var(--pixel) * 6) rgba(0, 0, 0, 0.3);
}