// archive table folder //
table.archive__folder-table {
  width: 100%;
  height: auto;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  color: #000000;
  overflow: scroll;
  user-select: none;
}

.archive__folder-table-of-checkbox {
  width: calc(var(--pixel) * 15);
  height: calc(var(--pixel) * 15);
  border: calc(var(--pixel) * 1) solid black;
}

table.archive__folder-table,
table.archive__folder-table td,
table.archive__folder-table th {
  border: calc(var(--pixel) * 1) solid #595959;
}

table.archive__folder-table td,
table.archive__folder-table th {
  width: calc(var(--pixel) * 30);
  height: calc(var(--pixel) * 35);
  padding: calc(var(--pixel) * 3);
}

table.archive__folder-table th {
  font-weight: calc(var(--pixel)*400);
  background: #6161614d;
  color: #000000;
}

#folderTalbeBody tr {
  &:hover {
    background-color: #b7b7b7;
    cursor: pointer;
  }
}