.authorization {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.842);
}

.authorization h1 {
  z-index: 5;
  animation: text-glow 2s ease-out infinite alternate;
  font-family: 'Ubuntu', sans-serif;
  color: #01d1ce;
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: bold;
  position: absolute;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  top: 50px;
  right: 250px;
}

.authorization div span {

}

.authorization__svg-doc {
  position: absolute;
  width: 170px;
  height: 120px;
  bottom: 25px;
  left: 25px;
}

.authorization__container-background-img {
  position: absolute;
  width: 650px;
  height: 650px;
  top: 50px
}

.authorization__svg-circle {
  width: 100%;
  height: 100%;
}
.authorization__svg-egg {
  border: 5px solid #01d1cec9;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 105%;
  height: 105%;
}

.authorization__form {
  animation: form-entry 3s ease-in-out;
  background: #111;
  background: linear-gradient(#004746, #111111);
  border: 6px solid #00a4a2;
  box-shadow: 0 0 15px #00fffd;
  border-radius: 5px;
  display: inline-block;
  height: 240px;
  width: 550px;
  margin: 200px auto 0;
  position: relative;
  z-index: 4;
  transition: 1s all;
}

.authorization__input {
  background: #222;
  background: linear-gradient(#333333, #222222);
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  height: 40px;
  margin: 20px auto 10px;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 400px;
}

.authorization__button {
  animation: input-entry 3s ease-in;
  background: #222;
  background: linear-gradient(#333333, #222222);
  box-sizing: content-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 400px;
  transition: 1s all;
}