:root {
  --calculation-of-one-pixel: calc(1vw + 1vh);
  --pixel: calc(var(--calculation-of-one-pixel) * 0.041789);
}

html,
body,
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  color: #fff;
  overflow: hidden;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.page {
  position: absolute;
  padding-top: calc(var(--pixel) * 30);
  padding-left: calc(var(--pixel) * 30);
}

#p1 {
  left: 0;
}

#p2,
#p3,
#p4,
#p5 {
  left: 200%;
}

#p1 {
  background: rgb(118, 101, 224);
}

#p2 {
  background: #ffc194;
}

#p3 {
  background: #ffe675;
}

#p4 {
  background: rgb(253, 129, 195);
}

#p5 {
  background: rgb(194, 137, 255);
}

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important;
}

#t2:target #p1,
#t3:target #p1,
#t4:target #p1,
#t5:target #p1 {
  background: black;
}

#t2:target #p1 .menu__icon,
#t3:target #p1 .menu__icon,
#t4:target #p1 .menu__icon,
#t5:target #p1 .menu__icon {
  -webkit-filter: blur(calc(var(--pixel) * 3));
}

.menu__icon {
  color: #fff;
  font-size: calc(var(--pixel) * 23);
  display: block;
}

ul .menu__icon:hover {
  opacity: 0.5;
}

.page .menu__icon .title {
  line-height: calc(var(--pixel) * 50);
}

#t2:target ul .menu__icon,
#t3:target ul .menu__icon,
#t4:target ul .menu__icon,
#t5:target ul .menu__icon {
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t4:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: calc(var(--pixel) * 280);
  width: 10%;
  padding: 0;
  text-align: center;
}

#menu .menu__icon {
  margin: calc(var(--pixel) * 30) 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

a {
  text-decoration: none;
}

.title,
.hint {
  display: block;
  color: black;
}

.title {
  font-size: calc(var(--pixel) * 36);
  width: calc(var(--pixel) * 500);
}

.hint {
  font-size: calc(var(--pixel) * 22);
  width: calc(var(--pixel) * 500);
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: #FFF;
}

.line-trough {
  text-decoration: line-through;
}

.page .menu__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: calc(var(--pixel) * 270);
  height: calc(var(--pixel) * 170);
  margin: auto;
  text-align: center;
  font-size: calc(var(--pixel) * 80);
  line-height: calc(var(--pixel) * 1.3);
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .menu__icon {
  height: calc(var(--pixel) * 220);
}

.page#p1 .menu__icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .menu__icon,
#t3:target .page#p3 .menu__icon,
#t4:target .page#p4 .menu__icon,
#t5:target .page#p5 .menu__icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}

//////////////////////   PAGE ARCHIVE   /////////////////////////
.archive {}

.archive__filder-menu-container-img {
  position: relative;
  display: block;
}

.archive__filder-menu-img {
  position: absolute;
  width: calc(var(--pixel)*25);
  height: calc(var(--pixel)*25);
  top: calc(var(--pixel)*10);
  left: calc(var(--pixel)* -3);
  rotate: 90deg;
  animation: horizontal-shaking 0.35s infinite;
  cursor: pointer;
}

.archive__filder-menu-img--rotate {
  width: calc(var(--pixel)*25);
  height: calc(var(--pixel)*25);
  margin: calc(var(--pixel)*10) calc(var(--pixel)*5);
  rotate: -90deg;
  cursor: pointer;
}

.archive__filder-title {
  position: absolute;
  top: calc(var(--pixel)*15);
  left: calc(var(--pixel)*100);
  color: #000000;
}

.archive__folder-input {
  font-size: calc(var(--pixel)*15);
  width: calc(var(--pixel)*230);
  height: calc(var(--pixel)*25);
  border: calc(var(--pixel)*1) solid black;
  margin: calc(var(--pixel)*10) 0;
}

.archive__folder-conteiner-checkbox-type-of-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: calc(var(--pixel)*20);
  width: calc(var(--pixel)*65);
}

.archive__folder-input-type-of-search {
  z-index: 99;
  position: absolute;
  width: calc(var(--pixel)*20);
  height: calc(var(--pixel)*20);
  visibility: hidden;
}

#type-folder-search-of-number {
  left: 0;
}

#type-folder-search-of-name {
  right: 0;
}

.archive__folder-icon-of-checkbox {
  width: calc(var(--pixel)*20);
  height: calc(var(--pixel)*20);
  cursor: pointer;
}

.archive__folder {
  z-index: 99;
  display: none;
  position: absolute;
  font-size: calc(var(--pixel) * 15);
  top: calc(var(--pixel) * 0);
  left: calc(var(--pixel) * 0);
  width: calc(var(--pixel) * 400);
  height: 100%;
  background-color: #FFF;
}

.archive__folder-content-container table thead tr th:nth-child(1) {
  border: none !important;
}

.archive__folder-menu-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: calc(var(--pixel) * 400);
}

.archive__folder-button {
  width: calc(var(--pixel) * 20);
  height: calc(var(--pixel) * 20);
  margin: calc(var(--pixel) * 10);
  cursor: pointer;
}

.archive__folder-content-container {
  overflow-y: scroll;
  height: calc(var(--pixel) * 800);
}

// archive table folder //
table.archive__folder-table {
  width: 100%;
  height: auto;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  color: #000000;
  overflow: scroll;
  user-select: none;
}

.archive__folder-table-of-checkbox {
  width: calc(var(--pixel) * 15);
  height: calc(var(--pixel) * 15);
  border: calc(var(--pixel) * 1) solid black;
}

table.archive__folder-table,
table.archive__folder-table td,
table.archive__folder-table th {
  border: calc(var(--pixel) * 1) solid #595959;
}

table.archive__folder-table td,
table.archive__folder-table th {
  width: calc(var(--pixel) * 30);
  height: calc(var(--pixel) * 35);
  padding: calc(var(--pixel) * 3);
}

table.archive__folder-table th {
  font-weight: calc(var(--pixel)*400);
  background: #6161614d;
  color: #000000;
}

// БЛОК СТИЛЕЙ ДЛЯ FILE //
.archive__file {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.archive__file-menu {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: calc(var(--pixel) * 1000);
  width: calc(var(--pixel) * 600);
  padding: calc(var(--pixel) * 15) 0;
  margin-left: calc(var(--pixel) * 350);

  &:hover {
    .archive__file-menu-under-line {
      animation: animate_row-in 0.2s ease-in;
      animation-fill-mode: forwards;
    }
  }

  &:not(:hover) {
    .archive__file-menu-under-line {
      animation: animate_row-out 0.2s ease;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes animate_row-in {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes animate_row-out {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.archive__file-menu-under-line {
  position: absolute;
  width: 0;
  height: calc(var(--pixel) * 1);
  bottom: calc(var(--pixel) * 10);
  background-color: #000000;
}

.archive__file-button {
  width: calc(var(--pixel) * 50);
  height: calc(var(--pixel) * 50);
  padding: 0 calc(var(--pixel) * 10);
  cursor: pointer;
}

// archive table file ///
.scroll-table {
  width: calc(var(--pixel) * 1220);
  border: 1px solid black;
}

.scroll-table-body {
  height: calc(var(--pixel) * 550);
  width: 100.45%;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-top: calc(var(--pixel) * 0);
  border-bottom: calc(var(--pixel) * 1) solid #000000;
}

.scroll-table-body table tbody tr td {
  min-height: calc(var(--pixel) * 50);
  height: calc(var(--pixel) * 100);

  &:nth-child(1) {
    width: calc(var(--pixel) * 54.5);
    border: none !important;
    background: #ffc194;
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(7) {
    width: calc(var(--pixel) * 100);
  }

  &:nth-child(5),
  &:nth-child(6) {
    width: calc(var(--pixel) * 250);
  }

  &:nth-child(8) {
    width: calc(var(--pixel) * 150);
  }
}

.scroll-table-body__input-of-check-box {
  width: calc(var(--pixel) * 20);
  height: calc(var(--pixel) * 20);
}

.scroll-table table {
  width: 100%;
  height: calc(var(--pixel) * 100);
  table-layout: fixed;
  border-collapse: collapse;
}

.scroll-table thead tr th {
  font-size: calc(var(--pixel) * 14);
  font-weight: calc(var(--pixel) * 700);
  text-align: center;
  background: #0000008e;
  border: calc(var(--pixel) * 1) solid black;
  border-top: none;
  border-left: calc(var(--pixel) * 1) solid #000000;

  &:nth-child(1) {
    width: calc(var(--pixel) * 54);
    border: none !important;
    background: #ffc194;
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(7) {
    width: calc(var(--pixel) * 100);
  }

  &:nth-child(5),
  &:nth-child(6) {
    width: calc(var(--pixel) * 250);
  }

  &:nth-child(8) {
    width: calc(var(--pixel) * 150);
  }
}

.scroll-table tbody td {
  font-size: calc(var(--pixel) * 14);
  text-align: center;
  border-left: calc(var(--pixel) * 1) solid #000000;
  border-right: calc(var(--pixel) * 1) solid #000000;
  background: #0000003a;
}

.scroll-table tbody tr:nth-child(even) {
  background: #303030;
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: calc(var(--pixel) * 6);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 calc(var(--pixel) * 6) rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 calc(var(--pixel) * 6) rgba(0, 0, 0, 0.3);
}

// CRAETE DOCUMENT IN BLOCK OF FILE //

.archive__container-of-create-new-document {
  z-index: 99;
  position: absolute;
  width: 80%;
  height: 100%;
  line-height: calc(var(--pixel) * 15);
  color: #000000;
  background-color: rgb(179 138 109 / 80%);
  border-radius: 0.8%;
  overflow: hidden;
}

.archive__create-new-document-of-button-out {
  position: absolute;
  width: calc(var(--pixel) * 25);
  height: calc(var(--pixel) * 25);
  top: calc(var(--pixel) * 15);
  right: calc(var(--pixel) * 15);

  &:hover {
    transition: 0.3s;
    rotate: 360deg;
    cursor: pointer;
  }
}

.archive__wrapper-of-id-document {
  font-size: calc(var(--pixel)*15);
  margin: calc(var(--pixel) * 5);
}

.archive__document-of-text {
  color: white;
}

.archive__document-of-id {}

.archive__create-new-document-of-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.archive__create-new-document-input-of-container-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  padding-right: calc(var(--pixel) * 150);
}

.archive__create-new-document-of-element-form {
  display: flex;
  margin: calc(var(--pixel) * 5);
  color: white;
}

.archive__create-new-document-of-text {
  font-size: calc(var(--pixel) * 20);
}

.archive__create-new-document-of-input {
  font-size: calc(var(--pixel) * 20);
  width: calc(var(--pixel) * 200);
  height: calc(var(--pixel) * 30);
  margin: 0 calc(var(--pixel) * 10);
  border: calc(var(--pixel) * 1) solid black;
}

.archive__create-new-document-of-textarea {
  font-size: calc(var(--pixel) * 20);
  width: calc(var(--pixel) * 500);
  max-height: calc(var(--pixel) * 450);
  height: calc(var(--pixel) * 100);
  padding: calc(var(--pixel) * 5);
  margin: calc(var(--pixel) * 20) 0;
  line-height: calc(var(--pixel) * 25);
  border: calc(var(--pixel) * 1) solid black;
  border-radius: 2%;
  resize: vertical;
}

#file-upload-button {
  border: calc(var(--pixel) * 1) solid black;
  background-color: black;
}

.archive__create-new-document-of-table {
  font-size: calc(var(--pixel) * 15);
  width: 100%;
  height: calc(var(--pixel) * 100);
  text-align: center;
  border: calc(var(--pixel) * 1) solid black;
  border-collapse: collapse;
  overflow-y: scroll;
}

.archive__create-new-document-of-table tbody tr td {
  height: calc(var(--pixel) * 30);
  border: calc(var(--pixel) * 1) solid black;
  overflow-y: scroll;
}

.archive__create-new-document-of-table-thead-img-for-list-del {
  width: calc(var(--pixel) * 25);
  height: calc(var(--pixel) * 25);
}

.archive__create-new-document-of-button-add-new-file {
  font-size: calc(var(--pixel) * 15);
  width: calc(var(--pixel) * 150);
  height: calc(var(--pixel) * 40);
  padding: calc(var(--pixel) * 5);
  margin: calc(var(--pixel) * 5) 0;
  border: calc(var(--pixel) * 1) solid black;
  background-color: transparent;
  color: white;

  &:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  &:not(:hover) {
    transition: 0.3s;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

.archive__create-new-document-of-input-file {
  font-size: calc(var(--pixel) * 15);
  width: calc(var(--pixel) * 280);
  height: calc(var(--pixel) * 25);
  margin: calc(var(--pixel) * 5);
  color: white;
}

.archive__create-new-document-of-table-button-for-delete {
  font-size: calc(var(--pixel) * 15);
  width: calc(var(--pixel) * 100);
  height: calc(var(--pixel) * 25);
  border: calc(var(--pixel) * 1) solid black;
  background-color: transparent;
  color: white;

  &:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  &:not(:hover) {
    transition: 0.3s;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

.archive__create-new-document-of-button-create {
  font-size: calc(var(--pixel) * 15);
  width: calc(var(--pixel) * 150);
  height: calc(var(--pixel) * 40);
  padding: calc(var(--pixel) * 5);
  margin: calc(var(--pixel) * 5) 0;
  border: calc(var(--pixel) * 1) solid black;
  background-color: transparent;
  color: white;

  &:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  &:not(:hover) {
    transition: 0.3s;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

.archive__create-new-document-wrapper-of-info {
  position: relative;
  display: flex;
  font-size: calc(var(--pixel) * 15);
  justify-content: space-around;
  color: white;
}

.archive__create-new-document-element-of-info {
  margin: 0 calc(var(--pixel) * 20);
}

.archive__create-new-document-element-of-text {}

// opened document //

.archive__container-of-opened-document {
  position: absolute;
  width: 80%;
  height: 100%;
  line-height: calc(var(--pixel) * 15);
  color: #000000;
  background-color: rgb(179 138 109 / 80%);
  border-radius: 0.8%;
  overflow: hidden;
}

.archive__opened-document-of-button-out {
  position: absolute;
  width: calc(var(--pixel) * 25);
  height: calc(var(--pixel) * 25);
  top: calc(var(--pixel) * 15);
  right: calc(var(--pixel) * 15);

  &:hover {
    transition: 0.3s;
    rotate: 360deg;
    cursor: pointer;
  }
}

.archive__wrapper-of-id-document {
  font-size: calc(var(--pixel)*15);
  margin: calc(var(--pixel) * 5);
}

.archive__document-of-text {
  color: white;
}

.archive__document-of-id {}

.archive__opened-document-of-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.archive__opened-document-input-of-container-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  padding-right: calc(var(--pixel) * 150);
}

.archive__opened-document-of-element-form {
  display: flex;
  margin: calc(var(--pixel) * 5);
  color: white;
}

.archive__opened-document-of-text {
  font-size: calc(var(--pixel) * 20);
}

.archive__opened-document-of-input {
  font-size: calc(var(--pixel) * 20);
  width: calc(var(--pixel) * 200);
  height: calc(var(--pixel) * 30);
  margin: 0 calc(var(--pixel) * 10);
  border: calc(var(--pixel) * 1) solid black;
}

.archive__opened-document-of-textarea {
  font-size: calc(var(--pixel) * 20);
  width: calc(var(--pixel) * 500);
  max-height: calc(var(--pixel) * 450);
  height: calc(var(--pixel) * 100);
  padding: calc(var(--pixel) * 5);
  margin: calc(var(--pixel) * 20) 0;
  line-height: calc(var(--pixel) * 25);
  border: calc(var(--pixel) * 1) solid black;
  border-radius: 2%;
  resize: vertical;
}

#file-upload-button {
  border: calc(var(--pixel) * 1) solid black;
  background-color: black;
}

.archive__opened-document-of-table {
  font-size: calc(var(--pixel) * 15);
  width: 100%;
  height: calc(var(--pixel) * 100);
  text-align: center;
  border: calc(var(--pixel) * 1) solid black;
  border-collapse: collapse;
  overflow-y: scroll;
}

.archive__opened-document-of-table tbody tr td {
  height: calc(var(--pixel) * 30);
  border: calc(var(--pixel) * 1) solid black;
  overflow-y: scroll;
}

.archive__opened-document-of-table-thead-img-for-list-del {
  width: calc(var(--pixel) * 25);
  height: calc(var(--pixel) * 25);
}

.archive__opened-document-of-button-add-new-file {
  font-size: calc(var(--pixel) * 15);
  width: calc(var(--pixel) * 150);
  height: calc(var(--pixel) * 40);
  padding: calc(var(--pixel) * 5);
  margin: calc(var(--pixel) * 5) 0;
  border: calc(var(--pixel) * 1) solid black;
  background-color: transparent;
  color: white;

  &:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  &:not(:hover) {
    transition: 0.3s;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

.archive__opened-document-of-input-file {
  font-size: calc(var(--pixel) * 15);
  width: calc(var(--pixel) * 280);
  height: calc(var(--pixel) * 25);
  margin: calc(var(--pixel) * 5);
  color: white;
}

.archive__opened-document-of-table-button-for-delete {
  font-size: calc(var(--pixel) * 15);
  width: calc(var(--pixel) * 100);
  height: calc(var(--pixel) * 25);
  border: calc(var(--pixel) * 1) solid black;
  background-color: transparent;
  color: white;

  &:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  &:not(:hover) {
    transition: 0.3s;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

.archive__opened-document-of-button-create {
  font-size: calc(var(--pixel) * 15);
  width: calc(var(--pixel) * 150);
  height: calc(var(--pixel) * 40);
  padding: calc(var(--pixel) * 5);
  margin: calc(var(--pixel) * 5) 0;
  border: calc(var(--pixel) * 1) solid black;
  background-color: transparent;
  color: white;

  &:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  &:not(:hover) {
    transition: 0.3s;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

.archive__opened-document-wrapper-of-info {
  position: relative;
  display: flex;
  font-size: calc(var(--pixel) * 15);
  justify-content: space-around;
  color: white;
}

.archive__opened-document-element-of-info {
  margin: 0 calc(var(--pixel) * 20);
}

.archive__opened-document-element-of-text {}